.purple{
    color: #8064A2;
}
.borderr{
    border-color: #8064A2 !important;
}
.blu{
    color: #0096C8;
}
.bg-purple{
    background-color: #8064A2 !important;
}

.sec-banner{
    background-color:#F7FDFF ;
}
.testimonial{
    background-color: #F7F5F9;
}
.logos{
    background-color: #e6e6e6;
}
.logo{
    color: #747474;
}

.bgg-white{
    background-image: url(/src/assets/job.gif);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}


/* src/App.css */
.custom-button {
    background-color: #6200ea;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #3700b3;
}

.custom-button:active {
    background-color: #1a0080;
}

.custom-button:disabled {
    background-color: #bdbdbd;
    cursor: not-allowed;
}

