 /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
 *{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
body{

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
}
.slideContainer{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slideContent{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
}
.imageContent,
.cardContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.imageContent{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.cardImage{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.cardImage .cardImg{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #265DF2;
}
.swiperNavBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiperNavBtn:hover{
  color: #4070F4;
}
.swiperNavBtn::before,
.swiperNavBtn::after{
  font-size: 35px;
}
.swiperButton-next{
  right: 0;
}
.swiperButton-prev{
  left: 0;
}
.swiperPagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiperPagination-bullet-active{
  background-color: #4070F4;
}
@media screen and (max-width: 768px) {
  .slideContent{
    margin: 0 10px;
  }
  .swiperNavBtn{
    display: none;
  }
}




body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper .swiper-slide {
  height: 300px;
  line-height: 300px;
}

.swiper .swiper-slide:nth-child(2n) {
  height: 500px;
  line-height: 500px;
} 

.App {
  font-family: sans-serif;
  text-align: center;
}

.sdd {
  font-size: 34px;
  color: red;
}
 */


 
 #app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
